@import './mixin'

a{
text-decoration:none;
}

.round {
	-webkit-border-radius: 2em ;
	moz-border-radius: 2em;
	border-radius: 2em;
	background:white;
}

.aieee2012 .after-head {
	margin-left: 20px;
	margin-bottom:20px;
}

.jee2012 { 
        margin-left:80px;
	margin-right:220px;
	margin-top:20px;
	top:100px;
        width:780px;
	height:550px;
	background:-webkit-gradient(linear,left bottom,left top,color-stop(.1,#dddddd),color-stop(.01,#ffffff),color-stop(.01,#ffffff));
	background:-moz-linear-gradient(center bottom,#dddddd 100%,#ffffff 70%,#ffffff 10%);
	border:1px solid #DDDDDD;
}

.jee2012 #inner-head {
	height:80px;
	margin-top:20px;
}

.jee2012 #form-field {	
	margin-left:40px;
	margin-right:40px;	
	height:40px;
}

.jee2012 #search-field {
	float:left;
}

.jee2012 #city-field {
	float:left;
}

.jee2012 .arrange {
	float:left;
	padding-left:5px;
	margin-left:10px;
	margin-top:7px;
}

.jee2012 input[type=text] {
	display:block;
	border: solid 1px #FFFFFF;
	width:390px;
	background:url("./search.png") no-repeat scroll 5px 1px white;
	padding-left:30px;
	color:#888888;
	outline: none;
	cursor:auto;
}

.jee2012 .text,a {
	font-size: .9em;
	color:#444444;
	font-family: "Lucida Grande",Verdana,Corbel,"Bitstream Vera Sans","DejaVu Sans",sans-serif;
}

.jee2012 select {
	border:0;
	padding:3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(center bottom,#fff 10%,#ccc 100%,#ccc 100%);
	width:100px;
}


.jee2012 #alpha {
	clear:both;
	list-style-type: none;
	margin-left:40px;
	margin-right:40px;
	padding-left:40px;
	padding-top:4px;
	width:425px;
	height:25px;
	background:url("./name.png") no-repeat scroll 23px 5px white;
}

.jee2012 .alpha {
	float:left;
	margin-left:6px;
	cursor:pointer;
	display:block;
	font-size:.9em;
}

.jee2012 .alpha a:hover {
	color:#66a3d3;
	font-size:1em;
}

.jee2012 #inner-head-1 {
	position:relative;
}

.jee2012 div#result {
	position:absolute;
	left:0px;
	width:465px;
	height:400px;
	overflow:auto;
	float:left;
	margin-left:40px;
	-webkit-border-radius: 1em ;
        -webkit-border-radius: 1em;
        moz-border-radius: 1em;
        moz-border-radius: 1em;
        border-radius: 1em;
        border-radius: 1em;
}

.jee2012 div#result-1 {
	position:absolute;
	right:0px;
	top:0px;
	width:200px;
	min-height:0px;
	margin-left:20px;
	margin-right:40px;
}

.jee2012 table#result-2 {
	width:430px;
	border:1px solid #e5eff8;
	margin:1em auto;
	border-collapse:collapse;
	table-layout:fixed;
}

.jee2012 table#result-2 td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.2em 1em;
	text-align:center;
	font-size:0.9em;
}

.jee2012 table#result-2 tr:nth-child(2n) {
	background-color:#f4f9fe;
}

.jee2012 th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3;
	cursor:pointer;
}

.jee2012 table#result-3 {
	margin-left:7px;
	margin-top:7px;
	table-layout:fixed;
	width:188px;
}

.jee2012 td {
	text-align:left;	
	word-wrap:break-word;
}

.jee2012 #feedback {
	position:absolute;
	right:0px;
	top:270px;
	width:200px;
	height:120px;
	padding:5px;
	margin-left:20px;
	margin-right:40px;
}

.jee2012 #feedback span a {
	color:#66a3d3;
	font-size:0.8em;
	margin-top:5px;
        margin-left:5px;
        margin-right:5px;
	text-decoration:none;
}

.jee2012 #feedback span a:hover {
	color:#3B5998;;
	font-size:0.8em;
	margin-top:5px;
        margin-left:5px;
        margin-right:5px;
}

::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background-color:#ffffff;
}
::-webkit-scrollbar:hover{
    background-color:#ffffff;
}
::-webkit-resizer{
    -webkit-border-radius:1em;
     moz-border-radius: 1em;
     border-radius: 1em;
    background-color:#e5eff8;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:1em;
     moz-border-radius: 1em;
     border-radius: 1em;
    background-color: #d5eff8;
}
#result::-webkit-scrollbar-thumb:hover{
    background-color: #688298;
}
#result::-webkit-scrollbar-thumb:active{
    background-color:#688298;
}

body {
    color: #363636;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}
h1, h2 {
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
h1 {
    color: #404040;
    font-size: 21pt;
}
h2 {
    color: #404040;
    font-size: 24pt;
    margin: 1em 0 0.7em;
}
h3 {
    color: #404040;
    font-size: 15px;
    text-shadow: 0 1px 1px #FFFFFF;
}
h4 {
    color: #7E7F7E;
    font-size: 14pt;
    text-shadow: 0 1px 1px #FFFFFF;
}
a {
    color: #363636;
    cursor: pointer;
    text-decoration: underline;
}
pre {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    margin: 0;
}
header, footer {
    display: block;
}
button {
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #FFFFFF;
    color: #363636;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 1px 1px 1px 0;
    outline: medium none;
    padding: 6px 10px;
    text-shadow: 0 1px 1px #FFFFFF;
}
button:active {
    background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent;
}
button.default {
    background: -moz-linear-gradient(center top , #7BB5DB, #4775B8) repeat scroll 0 0 transparent;
    border: 1px solid #3F68A5;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #46677F;
}
button.default:active {
    background: -moz-linear-gradient(center top , #4775B8, #7BB5DB) repeat scroll 0 0 transparent;
}

.vdivide {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #F9F9F9, #DFE0E1) repeat scroll 0 0 transparent;
    border-color: #C5C5C5 rgba(0, 0, 0, 0.3) #C5C5C5 #C5C5C5;
    border-style: solid;
    border-width: 0 1px;
    width: 6px;
}
.stack {
    position: relative;
}
.stack > *:not(.active) {
    display: none;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
	box-align: stretch;
    display: -webkit-box;
	display: box;
    display: -moz-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
	box-orient: vertical;
}
header#header {
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center top , #474747, #303030) repeat scroll 0 0 transparent;
    box-shadow: 0 -1px 3px #1D1D1D inset;
    height: 50px;
    overflow: hidden;
}
header#header a{
    /*border-right: 1px solid #181818;*/
   /*box-shadow: 1px 0 1px #525252;*/
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    text-shadow: 0 -1px 1px #000000;
    text-decoration:none;
}
.sideHead {
    padding: 15px;
}
#article {
    -moz-box-align: stretch;
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    display: -moz-box;
}
.active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6) inset;
}
#article .results {
    -moz-box-align: stretch;
    -moz-box-flex: 1;
    -moz-box-orient: horizontal;
    -moz-box-pack: start;
    display: -moz-box;
}
#article .results .sidebar {
    -moz-box-align: stretch;
    -moz-box-orient: vertical;
    display: -moz-box;
    width: 190px;
}
#article .results .sidebar header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFFFFF, #DEDFE0) repeat scroll 0 0 transparent;
    border-color: #C5C5C5;
    border-style: solid;
    border-width: 1px 0;
    padding: 6px 7px 5px;
}
#article .results .sidebar header input {
    font-size: 30px;
    width: 100%;
}
#article .results .sidebar .items {
    -moz-box-flex: 1;
    overflow-y: auto;
}
#article .results .sidebar .item {
    border-bottom: 1px solid #D2D2D1;
    color: #333333;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#article .results .sidebar .item.active {
    background: -moz-linear-gradient(center top , #7BB5DB, #4775B8) repeat scroll 0 0 transparent;
    border-bottom-color: #609FD0;
    box-shadow: 0 2px 2px #4775B8 inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #46677F;
}
#article .results .sidebar footer {
    background: -moz-linear-gradient(center top , #FFFFFF, #DEDFE0) repeat scroll 0 0 transparent;
    border-top: 1px solid #C5C5C5;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    padding: 6px;
    text-align: right;
}
#article .results .main {
    -moz-box-align: stretch;
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    display: -moz-box;
}
#article .results .main header {
    background: -moz-linear-gradient(center top , #FFFFFF, #E0E0E1) repeat scroll 0 0 transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 0 1px 1px #FFFFFF;
}
#article .results .main header a {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-decoration: none;
}
#article .results .main header a:active {
    background: none repeat scroll 0 0 #DADADA;
    box-shadow: 0 0 10px #9C9C9C inset;
}
#article .results .main .content {
    -moz-box-flex: 1;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1) inset;
    padding: 20px;
}

