@import './mixin'

a{
text-decoration:none;
}

.round {
	border-radius(0.5em);
	background:white;
}

.home .after-head {
	padding-top:5px;
	padding-left:20px;
	padding-bottom:20px;
	width:1500px;
}

.home .after-head p {
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	font-size:18px;
	color: #555;
}

.home .after-head label {
	color: #666;
	font-size:18px;
}

.home .after-head input[type=number] {
	padding: 4px; 
	margin: 4px 0 20px 0; 
	background: #fff; 
	width: 220px; 
	font-size: 14px; 
	color: #555; 
	border: 1px #ddd solid;
	box-shadow(0px 0px 4px #aaa);
	transition();	
}

.home .after-head input[type=number]:hover {
	background:#eee;
}

.home .after-head input[type=button] {
	color: #eee; 
	text-transform: uppercase; 
	margin-top: 10px;
	width:120px;
	padding:5px;
	border: none;
	transition();
	vbg-gradient(#18a5cc,#0a85a8);
	border-radius(4px);
}

.home .after-head input[type=button]:hover {
	box-shadow(0px 0px 20px #555);
	cursor:  pointer; 
}

.home .after-head div#saved {
	font-size:13px;
	color:green;
}

.home .after-head div#not_saved {
	font-size:13px;
	color:red;
}
.jee2012,.aieee2012 { 
	margin-left:80px;
	margin-right:220px;
	margin-top:20px;
	top:100px;
    	width:880px;
	height:550px;
	vbg-gradient(#dddddd 100%,#ffffff 70%);
	border:1px solid #DDDDDD;
}

.aieee2012 {
	width:1010px;
	margin-left:30px;
}
.jee2012 #inner-head, .aieee2012 #inner-head {
	height:80px;
	margin-top:20px;
}

.jee2012 #form-field,.aieee2012 #form-field {	
	margin-left:40px;
	max-width:705px;	
	height:40px;
}

.jee2012 #search-field,.aieee2012 #search-field {
	float:left;
}

.jee2012 #city-field,.aieee2012 #city-field {
	float:left;
}

.jee2012 input[type=button],.aieee2012 input[type=button] {
	color: #eee;
        text-transform: uppercase;
        margin-top: 1px;
        padding:5px;
        border: none;
        transition();
        vbg-gradient(#18a5cc,#0a85a8);
        border-radius(4px); 
}

.jee2012 input[type=button]:hover,.aieee2012 input[type=button]:hover {
	transition();
        vbg-gradient(#17a4cb,#0a74a7);	
	cursor:pointer;
}

.arrange {
	float:left;
	padding-left:5px;
	margin-left:10px;
	margin-top:7px;
}

input[type=text] {
	display:block;
	border: solid 1px #FFFFFF;
	width:250px;
	background:url("./search.png") no-repeat scroll 5px 1px white;
	padding-left:30px;
	color:#888888;
	outline: none;
	cursor:auto;
}

.jee2012 .text,a,.aieee2012 .text {
	font-size: .9em;
	color:#444444;
	font-family: "Lucida Grande",Verdana,Corbel,"Bitstream Vera Sans","DejaVu Sans",sans-serif;
}

select {
	border:0;
	padding:3px;
	vbg-gradient(#fff 10%,#ccc 100%);
	width:100px;
}

.jee2012 #inner-head-1,.aieee2012 div#inner-head-1 {
	position:relative;
}

.jee2012 div#result,.aieee2012 div#result {
	position:absolute;
	left:0px;
	width:565px;
	height:420px;
	overflow:auto;
	float:left;
	margin-left:40px;
}
.aieee2012 div#result {
	width:705px;
}
.jee2012 div#result-1,.aieee2012 div#result-1 {
	position:absolute;
	right:0px;
	top:0px;
	width:240px;
	min-height:0px;
	margin-left:20px;
	margin-right:10px;
}

.jee2012 table#result-2,.aieee2012 table#result-2 {
	width:530px;
	border:1px solid #e5eff8;
	margin:1em auto;
	border-collapse:collapse;
	/*table-layout:fixed;*/
}
.aieee2012 table#result-2 {
	width:680px;
}

.jee2012 table#result-2 td,.aieee2012 table#result-2 td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.2em 1em;
	text-align:center;
	font-size:0.8em;
}

.jee2012 table#result-2 tr:nth-child(2n),.aieee2012 table#result-2 tr:nth-child(2n) {
	background-color:#f4f9fe;
}

.jee2012 th,.aieee2012 th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3;
	cursor:pointer;
}
.jee2012 table#result-3,.aieee2012 table#result-3 {
	margin-top:7px;
	table-layout:fixed;
	width:188px;
}

.jee2012 table#result-3 td,.aieee2012 table#result-3 td {
	text-align:left;	
	word-wrap:break-word;
}

::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background-color:#ffffff;
}
::-webkit-scrollbar:hover{
    background-color:#ffffff;
}
::-webkit-resizer{
    border-radius(1em);
    background-color:#e5eff8;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    border-radius(1em);
    background-color: #d5eff8;
}
#result::-webkit-scrollbar-thumb:hover{
    background-color: #688298;
}
#result::-webkit-scrollbar-thumb:active{
    background-color:#688298;
}

body {
    color: #363636;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}
h1, h2 {
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
}
h1 {
    color: #404040;
    font-size: 21pt;
}
h2 {
    color: #404040;
    font-size: 24pt;
    margin: 1em 0 0.7em;
}
h3 {
    color: #404040;
    font-size: 15px;
    text-shadow: 0 1px 1px #FFFFFF;
}
h4 {
    color: #7E7F7E;
    font-size: 14pt;
    text-shadow: 0 1px 1px #FFFFFF;
}
a {
    color: #363636;
    cursor: pointer;
    text-decoration: underline;
}
pre {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    margin: 0;
}
header, footer {
    display: block;
}
button {
    vbg-gradient(#F9F9F9, #E3E3E3);
    border: 1px solid #BBBBBB;
    border-radius(3px 3px 3px 3px);
    box-shadow(0 1px 1px #FFFFFF);
    color: #363636;
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 1px 1px 1px 0;
    outline: medium none;
    padding: 6px 10px;
    text-shadow: 0 1px 1px #FFFFFF;
}
button:active {
    vbg-gradient(#E3E3E3, #F9F9F9);
}
button.default {
    vbg-gradient(#7BB5DB, #4775B8);
    border: 1px solid #3F68A5;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #46677F;
}
button.default:active {
    vbg-gradient(#4775B8, #7BB5DB);
}

.vdivide {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    vbg-gradient(#F9F9F9, #DFE0E1);
    border-color: #C5C5C5 rgba(0, 0, 0, 0.3) #C5C5C5 #C5C5C5;
    border-style: solid;
    border-width: 0 1px;
    width: 6px;
}
.stack {
    position: relative;
}
.stack > *:not(.active) {
    display: none;
}
body, html {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
body {
	vbox();
}
header#header {
    border-box();
    vbg-gradient(#474747, #303030);
    inset-box-shadow(0 -1px 3px #1D1D1D );
    height: 50px;
    overflow: hidden;
}
header#header a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 550px;
    padding: 0 20px;
    text-shadow: 0 -1px 1px #000000;
    text-decoration:none;
}
.sideHead {
    padding: 15px;
}
#article {
vbox();
box-flex(1);
}
.active {
    inset-box-shadow(0 1px 4px rgba(0, 0, 0, 0.6));
}
#article .results {
	hbox();
    box-flex(1)

}
#article .results .sidebar {
	vbox();
    width: 190px;
}
#article .results .sidebar header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    vbg-gradient(#FFFFFF, #DEDFE0);
    border-color: #C5C5C5;
    border-style: solid;
    border-width: 1px 0;
    padding: 6px 7px 5px;
}
#article .results .sidebar header input {
    font-size: 30px;
    width: 100%;
}
#article .results .sidebar .items {
    box-flex(1);
    overflow-y: auto;
}
#article .results .sidebar .item {
    border-bottom: 1px solid #D2D2D1;
    color: #333333;
    height: 50px;
    line-height: 50px;
	ellipsis();
    padding: 0 0 px;
}
#article .results .sidebar .item.active {
    vbg-gradient(#7BB5DB, #4775B8);
    border-bottom-color: #609FD0;
    inset-box-shadow( 0 2px 2px #4775B8);
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #46677F;
}
#article .results .sidebar footer {
    vbg-gradient(#FFFFFF, #DEDFE0);
    border-top: 1px solid #C5C5C5;
    box-shadow( 0 -1px 2px rgba(0, 0, 0, 0.1));
    padding: 6px;
    text-align: right;
}
#article .results .main {
	vbox();
	width:100%;
}
#article .results .main header {
    vbg-gradient(#FFFFFF, #E0E0E1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 0 1px 1px #FFFFFF;
}
#article .results .main header a {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-decoration: none;
}
#article .results .main header a:active {
    background: none repeat scroll 0 0 #DADADA;
    inset-box-shadow( 0 0 10px #9C9C9C);
}
#article .results .main .content {
    box-flex(1);
    inset-box-shadow(1px 2px 2px rgba(0, 0, 0, 0.1));
    padding: 20px;
}
div.t {
	position:absolute;
	height:30px;
	padding:10px 0 0 0;
	bottom:75px;
	padding-left:70px;
	width:120px;
	background-color:#FFDAA5;
}
div.t span a{
	color:#18a5cc;
	margin-bottom: 20px;
	border: none;
	font-size:1em;
	text-decoration:none;
	transition();
}
div.t span a:hover {
	color:#0a85a8;
}
