a {
  text-decoration: none;
}
.round {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  background: #fff;
}
.aieee2012 .after-head {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.jee2012 {
  margin-left: 80px;
  margin-right: 220px;
  margin-top: 20px;
  top: 100px;
  width: 780px;
  height: 550px;
  background: #ddd 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd 100%), to(#fff 70%)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #ddd 100%, #fff 70%) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #ddd 100%, #fff 70%) repeat scroll 0 0 transparent;
  border: 1px solid #ddd;
}
.jee2012 #inner-head {
  height: 80px;
  margin-top: 20px;
}
.jee2012 #form-field {
  margin-left: 40px;
  margin-right: 40px;
  height: 40px;
}
.jee2012 #search-field {
  float: left;
}
.jee2012 #city-field {
  float: left;
}
.jee2012 .arrange {
  float: left;
  padding-left: 5px;
  margin-left: 10px;
  margin-top: 7px;
}
.jee2012 input[type=text] {
  display: block;
  border: solid 1px #fff;
  width: 390px;
  background: url("./search.png") no-repeat scroll 5px 1px #fff;
  padding-left: 30px;
  color: #888;
  outline: none;
  cursor: auto;
}
.jee2012 .text,
a {
  font-size: 0.9em;
  color: #444;
  font-family: "Lucida Grande", Verdana, Corbel, "Bitstream Vera Sans", "DejaVu Sans", sans-serif;
}
.jee2012 select {
  border: 0;
  padding: 3px;
  background: #fff 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff 10%), to(#ccc 100%)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #fff 10%, #ccc 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #fff 10%, #ccc 100%) repeat scroll 0 0 transparent;
  width: 100px;
}
.jee2012 #alpha {
  clear: both;
  list-style-type: none;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  padding-top: 4px;
  width: 425px;
  height: 25px;
  background: url("./name.png") no-repeat scroll 23px 5px #fff;
}
.jee2012 .alpha {
  float: left;
  margin-left: 6px;
  cursor: pointer;
  display: block;
  font-size: 0.9em;
}
.jee2012 .alpha a:hover {
  color: #66a3d3;
  font-size: 1em;
}
.jee2012 #inner-head-1 {
  position: relative;
}
.jee2012 div#result {
  position: absolute;
  left: 0px;
  width: 465px;
  height: 400px;
  overflow: auto;
  float: left;
  margin-left: 40px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.jee2012 div#result-1 {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  min-height: 0px;
  margin-left: 20px;
  margin-right: 40px;
}
.jee2012 table#result-2 {
  width: 430px;
  border: 1px solid #e5eff8;
  margin: 1em auto;
  border-collapse: collapse;
  table-layout: fixed;
}
.jee2012 table#result-2 td {
  color: #678197;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: 0.2em 1em;
  text-align: center;
  font-size: 0.9em;
}
.jee2012 table#result-2 tr:nth-child(2n) {
  background-color: #f4f9fe;
}
.jee2012 th {
  background: #f4f9fe;
  text-align: center;
  font: bold 1em/2em "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #66a3d3;
  cursor: pointer;
}
.jee2012 table#result-3 {
  margin-left: 7px;
  margin-top: 7px;
  table-layout: fixed;
  width: 188px;
}
.jee2012 td {
  text-align: left;
  word-wrap: break-word;
}
.jee2012 #feedback {
  position: absolute;
  right: 0px;
  top: 270px;
  width: 200px;
  height: 120px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 40px;
}
.jee2012 #feedback span a {
  color: #66a3d3;
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.jee2012 #feedback span a:hover {
  color: #3b5998;
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
  background-color: #fff;
}
::-webkit-scrollbar:hover {
  background-color: #fff;
}
::-webkit-resizer {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background-color: #e5eff8;
}
::-webkit-scrollbar-thumb {
  min-height: 0.8em;
  min-width: 0.8em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background-color: #d5eff8;
}
#result::-webkit-scrollbar-thumb:hover {
  background-color: #688298;
}
#result::-webkit-scrollbar-thumb:active {
  background-color: #688298;
}
body {
  color: #363636;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}
h1,
h2 {
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
}
h1 {
  color: #404040;
  font-size: 21pt;
}
h2 {
  color: #404040;
  font-size: 24pt;
  margin: 1em 0 0.7em;
}
h3 {
  color: #404040;
  font-size: 15px;
  text-shadow: 0 1px 1px #fff;
}
h4 {
  color: #7e7f7e;
  font-size: 14pt;
  text-shadow: 0 1px 1px #fff;
}
a {
  color: #363636;
  cursor: pointer;
  text-decoration: underline;
}
pre {
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  margin: 0;
}
header,
footer {
  display: block;
}
button {
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #f9f9f9, #e3e3e3) repeat scroll 0 0 transparent;
  border: 1px solid #bbb;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
  color: #363636;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 1px 1px 1px 0;
  outline: medium none;
  padding: 6px 10px;
  text-shadow: 0 1px 1px #fff;
}
button:active {
  background: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f9f9f9)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #e3e3e3, #f9f9f9) repeat scroll 0 0 transparent;
}
button.default {
  background: #7bb5db;
  background: -webkit-gradient(linear, left top, left bottom, from(#7bb5db), to(#4775b8)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #7bb5db, #4775b8) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #7bb5db, #4775b8) repeat scroll 0 0 transparent;
  border: 1px solid #3f68a5;
  color: #fff;
  text-shadow: 0 -1px 1px #46677f;
}
button.default:active {
  background: #4775b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#4775b8), to(#7bb5db)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #4775b8, #7bb5db) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #4775b8, #7bb5db) repeat scroll 0 0 transparent;
}
.vdivide {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dfe0e1)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #f9f9f9, #dfe0e1) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #f9f9f9, #dfe0e1) repeat scroll 0 0 transparent;
  border-color: #c5c5c5 rgba(0,0,0,0.30) #c5c5c5 #c5c5c5;
  border-style: solid;
  border-width: 0 1px;
  width: 6px;
}
.stack {
  position: relative;
}
.stack > *:not(.active) {
  display: none;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
header#header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #474747;
  background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#303030)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #474747, #303030) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #474747, #303030) repeat scroll 0 0 transparent;
  -moz-box-shadow: inset 0 -1px 3px #1d1d1d;
  -webkit-box-shadow: inset 0 -1px 3px #1d1d1d;
  -moz-box-shadow: inset 0 -1px 3px #1d1d1d;
  -webkit-box-shadow: inset 0 -1px 3px #1d1d1d;
  box-shadow: inset 0 -1px 3px #1d1d1d;
  height: 50px;
  overflow: hidden;
}
header#header a {
/*border-right: 1px solid #181818;*/
/*box-shadow: 1px 0 1px #525252;*/
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  text-shadow: 0 -1px 1px #000;
  text-decoration: none;
}
.sideHead {
  padding: 15px;
}
#article {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.active {
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.60);
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.60);
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.60);
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.60);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.60);
}
#article .results {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
#article .results .sidebar {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  width: 190px;
}
#article .results .sidebar header {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedfe0)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #fff, #dedfe0) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #fff, #dedfe0) repeat scroll 0 0 transparent;
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 1px 0;
  padding: 6px 7px 5px;
}
#article .results .sidebar header input {
  font-size: 30px;
  width: 100%;
}
#article .results .sidebar .items {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-y: auto;
}
#article .results .sidebar .item {
  border-bottom: 1px solid #d2d2d1;
  color: #333;
  height: 50px;
  line-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
}
#article .results .sidebar .item.active {
  background: #7bb5db;
  background: -webkit-gradient(linear, left top, left bottom, from(#7bb5db), to(#4775b8)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #7bb5db, #4775b8) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #7bb5db, #4775b8) repeat scroll 0 0 transparent;
  border-bottom-color: #609fd0;
  -moz-box-shadow: inset 0 2px 2px #4775b8;
  -webkit-box-shadow: inset 0 2px 2px #4775b8;
  -moz-box-shadow: inset 0 2px 2px #4775b8;
  -webkit-box-shadow: inset 0 2px 2px #4775b8;
  box-shadow: inset 0 2px 2px #4775b8;
  color: #fff;
  text-shadow: 0 -1px 1px #46677f;
}
#article .results .sidebar footer {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedfe0)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #fff, #dedfe0) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #fff, #dedfe0) repeat scroll 0 0 transparent;
  border-top: 1px solid #c5c5c5;
  -moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.10);
  box-shadow: 0 -1px 2px rgba(0,0,0,0.10);
  padding: 6px;
  text-align: right;
}
#article .results .main {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  width: 100%;
}
#article .results .main header {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e1)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, #fff, #e0e0e1) repeat scroll 0 0 transparent;
  background: linear-gradient(top, #fff, #e0e0e1) repeat scroll 0 0 transparent;
  border-bottom: 1px solid rgba(0,0,0,0.30);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.10);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.10);
  color: #333;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 0 1px 1px #fff;
}
#article .results .main header a {
  border-right: 1px solid rgba(0,0,0,0.30);
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-decoration: none;
}
#article .results .main header a:active {
  background: none repeat scroll 0 0 #dadada;
  -moz-box-shadow: inset 0 0 10px #9c9c9c;
  -webkit-box-shadow: inset 0 0 10px #9c9c9c;
  -moz-box-shadow: inset 0 0 10px #9c9c9c;
  -webkit-box-shadow: inset 0 0 10px #9c9c9c;
  box-shadow: inset 0 0 10px #9c9c9c;
}
#article .results .main .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -moz-box-shadow: inset 1px 2px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 1px 2px 2px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 1px 2px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 1px 2px 2px rgba(0,0,0,0.10);
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.10);
  padding: 20px;
}
